<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ConStr" value="i9teeNwVigYHh+Ytu3RRdej4i6hgyOYmE2uUYTgog5MTKMt9LVjC5tzIhpaw/N7JIkvubi1R2keal+8W+tf+i8w4WK2Ful0O3/vnKmba0O48abxQEeu4wAVynJaCbwmEcXPgTda73g71bTG6YYpIad+RfXvcR1wYrQZgaoeD56YRaUHSTOl+z4b+vOA0wST8zIwG8Oq0a8IccodLmZQW/CZyv3RHRba4TiufD3uhLZVlz715oJvAQT8ASmsUNoD0fMcPAXMUMYcTgLHMLYUFcLUxko5kp7dfO8jbq8+bWF+RPvubOP4RFqGHygpP2aNC3MT4cGCIxKqKgeH9CjhHPtMav28QTofQFn+33uLluag6XENZjB3TvhlB9XLv6QtbHYdtvgbhf2PkTLLoIoIvzQ==" />
    <add key="Kripton_Key" value="2cK7CcKk0hCVRf/k3lLhKAx8FU4Q4I5ntnbkYLmxZuA=" />
    <!--<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" /><add key="Kripta_Link" value="http://localhost:2003/" />-->
    <add key="Kripta_Link" value="https://apiadvertisementmanagementsystem.azurewebsites.net/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.1" />
    <sessionState mode="InProc" cookieless="UseCookies" timeout="20" regenerateExpiredSessionId="true" />
    <customErrors mode="Off">
      <error statusCode="400" redirect="400.html" />
      <error statusCode="401" redirect="401.html" />
      <error statusCode="402" redirect="402.html" />
      <error statusCode="403" redirect="403.html" />
      <error statusCode="404" redirect="404.html" />
      <error statusCode="500" redirect="500.html" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <machineKey validationKey="F8031C6DC6583A6399CEFDE615C9FB79E2D67E54A0460F41D9DDB052FBDD77CAE3F9DAE73751D670ED383847D2185ECC5D435D19F98034FF264201FE83C2D5C0" decryptionKey="12D8BBCADB5CEF76CE6C4394CF8FE6144AD6EF0AF7750CF1EABC3C606B65CCB0" validation="HMACSHA256" decryption="AES" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" preCondition="integratedMode" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
    </handlers>
  </system.webServer>
</configuration>